@font-face {
  font-family: 'SwankyandMooMoo';
  font-style: normal;
  font-weight: 400;
  src: url('./font/SwankyandMooMoo-Regular.ttf') format('truetype');
}

body {
  margin: 0;
}

a {
  color: #d04a02 !important;
  text-decoration: underline;
}
a:hover {
  color: #d04a02 !important;
  text-decoration: underline;
}
